@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
	color: #000577;
	font-family: 'Amatic SC';
	font-weight: bold;
	margin: 0;
	padding: 0;
	background: url(/img/Tets.JPG) no-repeat center top fixed;
	background-size: cover;
}

#greeter {
	margin-top: 50vh;
	margin-left: 50vw;
	transform: translate(-50%,-50%);
	display: block;
	font-size: 7em;
	position: relative;
	width: 64%;
	text-align: center;
	background: rgba(255,255,255,0.2);
	box-shadow: rgba(255,255,255,0.2) 0px 0px 16px 16px;
}

nav {
	font-size: 3em;
	display: block;
	background: rgba(255,255,255,0.2);
	box-shadow: rgba(255,255,255,0.2) 0px 0px 16px 16px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 10%;
}

nav > a {
	display: inline-block;
	height: 100%;
	width: 16.5vw;
	min-width: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .2s ease-in-out;
}

nav > a:hover {
	cursor: pointer;
	box-shadow: rgba(255,255,255,0.3) 0px 0px 16px 16px;
	background: rgba(255,255,255,0.3);
}
