@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
	color: #000577;
	font-family: 'Amatic SC';
	font-weight: bold;
	margin: 0;
	padding: 0;
	background: url(img/bg.jpg) no-repeat center top fixed;
	background-size: cover;
}

.whitecloud {
	background: rgba(255,255,255,0.2);
	box-shadow: rgba(255,255,255,0.2) 0px 0px 16px 16px;
}

.whitecloud.dense {
	background: rgba(255,255,255,0.4);
	box-shadow: rgba(255,255,255,0.4) 0px 0px 16px 16px;
}

#title, #subtitle {
	margin-top: 50vh;
	margin-left: 50vw;
	transform: translate(-50%,-50%);
	display: block;
	font-size: 12vmin;
	position: relative;
	width: 64%;
	text-align: center;
}

#subtitle {
	font-size: 8vmin;
}

nav {
	font-size: 3em;
	display: block;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 10%;
}

nav > a {
	display: inline-block;
	color: inherit;
	text-decoration: inherit;
	height: 100%;
	width: 16.5vw;
	min-width: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .2s ease-in-out;
}

nav > a:hover {
	cursor: pointer;
	box-shadow: rgba(255,255,255,0.3) 0px 0px 16px 16px;
	background: rgba(255,255,255,0.3);
}

h1 {font-size: 4em; text-align: center;} h2 {font-size: 3em} h3 {font-size: 2.5em} h4 {font-size: 2em} p {font-size: 1.6em;}

main {
	margin: auto;
	width: 100%;
	max-width: 640px;
	padding: 16px;
	padding-top: 0px;
}
