---
---
/* @import <q>main"; */

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

@font-face {
	font-family: 'Amatic SC';
	src: url('/assets/fonts/AmaticSC-Bold.woff2') format('woff2');
}

html {
	height: 100%;
	width: 100%;
	background: url(img/bg-small.jpg) no-repeat center top fixed;
	background-size: cover;
}

body {
	display: block;
	width: 100%;
	color: #000577;
	font-family: 'Amatic SC';
	font-weight: bold;
	font-size: calc( 1vmin + 16px);
	margin: 0;
	padding: 0;
	text-align: center;
}

.whitecloud {
	background: rgba(255,255,255,0.3);
	box-shadow: rgba(255,255,255,0.3) 0px 0px 32px 32px;

	&.dense {
		background: rgba(255,255,255,0.6);
		box-shadow: rgba(255,255,255,0.6) 0px 0px 16px 16px;
	}

}

#greeter {
	display: inline-block;
	margin: auto;
	margin-top: 20vmin;

	* {
		margin: 0;
	}
}

nav {
	font-size: calc(3vmin + 24px);
	max-width: 80vmin;
	margin: 10vmin auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}

a {
	color: inherit;
}

nav a, header a, #bloglist a {
	text-decoration: inherit;
	height: 100%;
	margin: .2em .4em;
	transition: all .2s ease-in-out;

	&:hover {
		cursor: pointer;
		box-shadow: rgba(255,255,255,0.3) 0px 0px 16px 16px;
		background: rgba(255,255,255,0.3);
	}

}

header {
	margin-top: 10px;
	width: 100%;

	ul {
		margin: 0;
		padding: 0;
		list-style-position: inside;

		li {
			display: inline-block;

			&:not(:first-child):before {
				content: "•";
			}

		}
	}
}

h1 { font-size: calc(10vmin + 24px); margin: .2em }
h2 { font-size: calc( 6vmin + 24px); margin: .2em }
h3 { font-size: calc( 4vmin + 24px); margin: .2em }
h4 { font-size: calc( 2vmin + 24px); margin: .2em }
h5 { font-size: calc( 1vmin + 24px); margin: .2em }
h6 { font-size: calc( 1vmin + 16px); margin: .2em }
p  { font-size: calc( 1vmin + 16px) }

main {
	margin: 2em auto;
	width: calc(90% - 32px);
	max-width: 640px;
	padding: 16px;
	padding-top: 0px;

	p, td, p + ul {
		font-family: sans-serif;
		font-weight: normal;
		font-size: calc( .5vmin + 12px);
		text-align: justify;
	}

	li, td {
		text-align: left;
	}
}

figure#portrait {
	float: right;
	margin: 0 0 .5em 1em;

	img {
		display: block;
		width: 100%;
		max-width: 300px;
	}

	figcaption {
		font-size: calc(.5vmin + 12px);
	}

	@media(max-width: 555px) {
		display: block;
		margin: auto;
		float: none;

		img { margin: auto; }
	}
}

table {
	border-collapse: collapse;
	width: 100%;

	tr {
		border-bottom: 1px solid #000577;
	}
}

#bloglist {
	list-style-type: none;
	padding: 0;

	a {
		display: block;
	}

	h3, h4, h5, h6 {
		text-align: center;
	}

}
