<header class="whitecloud">
	<ul>
		{% if page.title != <q>Home</q> %}
			<li>
				{% assign home=site.data.nav | where:"ref", "home" %}
				<a href="{{ home.first[page.lang].link }}">
					{{ home.first[page.lang].name }}
				</a>
			</li>
		{% endif %}
		{% if page.ref %}
		<li>
			{% assign refs=site.data.nav | where:"ref", page.ref %}
			<a href="{% if page.lang == 'en' %}
						{{ refs.first.de.link }}
					{% elsif  page.lang == 'de' %}
						{{ refs.first.en.link }}
					{% endif %}">
				{{ site.data.common[page.lang].langswitch }}
			</a>
		</li>
		{% endif %}
		<li>
			{% assign imprint=site.data.nav | where:"ref", "imprint" %}
			<a href="{{ imprint.first[page.lang].link }}">
				{{ imprint.first[page.lang].name }}
			</a>
		</li>
		<li>
			{% assign contact=site.data.nav | where:"ref", "contact" %}
			<a href="{{ contact.first[page.lang].link }}">
				{{ contact.first[page.lang].name }}
			</a>
		</li>
	</ul>
</header>
