<!DOCTYPE html>
<html lang="{{ page.lang }}">
	<head>
		<title>{{ site.data.common[page.lang].title }} - {{ page.title }}</title>
		<meta charset="utf-8">
		<meta name="theme-color" content="#00a8d0">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		{% if page.title != "Home" %} <a href="/">{{ site.data.common[page.lang].home }}</a> {% endif %}
		{% include langswitch.html %}
		{{ content }}
	</body>
	<script src="http://127.0.0.1:35729/livereload.js">
</html>
